.create-event-container{
 margin: 20px;
 margin-top: 50px;
 background-color: white;
 padding: 50px;
 min-height: 500px;
 min-width: 100px;
 p,a{margin:0;}

 .create-event-title{
  font-size: 2.3em;
  color:  #26a69a;
 }
 .create-event-breadcrumbs{
  margin-top:20px;
  margin-bottom:20px;
  a{
   color:  indianred;
  }

 }
 .angular-google-map-container { height: 300px;border: 10px solid white; }
}