.event-container {
  margin: 20px;
  margin-top: 50px;
  background-color: white;
  padding: 0px;
  min-height: 500px;
  min-width: 100px;
  p, a {
    margin: 0;
  }
  .event-header {
    color: white;
    background-color: black;
    min-height: 300px;
    .host-box {
      background-color: red;
      height: 300px;
    }
    .title-box {
      background-color: blue;
      height: 300px;
      img {
        width: 100%;
        height: 300px;

      }

    }
    .map-box {
      background-color: green;
      height: 300px;
      padding: 0;
      margin: 0;
      .angular-google-map-container { height: 300px;border: 0;margin: 0;padding: 0 }
    }
  }
}