<div class="container">
    <div class="create-event-container z-depth-2">

        <div class="create-event-title left-align "><p>What's cookin'?</p></div>
        <div class="create-event-subtitle left-align"><p>Creating an event (a.k.a Foodent) is easier than cooking
            scrambled eggs.</p>
            <br>
            <!--<hr>-->
        </div>

        <div class="row">
            <div class="left-side-form col s5">
                <div class="input-field col s12">
                    <input id="first_name" type="text" class="validate" ng-model="eventName">
                    <label for="first_name">What's the name of the event?</label>
                </div>
                <div class="input-field col s12">
                    <input googleplace id="event-address" type="text" class="validate" ng-model="eventPlace"
                           placeholder="">
                    <label for="event-address">Where is it happening?</label>
                </div>

                <div class="input-field col s12">
                    <!--<input input-date id="event-date" type="date" class="datepicker" ng-model="eventDate" format="dd/mm/yyyy">-->
                    <input input-date
                           type="text"
                           name="created"
                           id="event-date"
                           ng-model="eventDate"
                           container="body"
                           format="dd/mm/yyyy"
                           months-full="{{ month }}"
                           months-short="{{ monthShort }}"
                           weekdays-full="{{ weekdaysFull }}"
                           weekdays-short="{{ weekdaysShort }}"
                           weekdays-letter="{{ weekdaysLetter }}"

                           today="today"
                           clear="clear"
                           close="close"
                           select-years="15"
                    >
                    <label class="active" for="event-date">When is it?</label>
                </div>
                <!--<div class="input-field col s6">-->
                    <!--<mdp-time-picker id="start-time" ng-model="startTime"></mdp-time-picker>-->

                    <!--<label class="active" for="start-time">Start Time</label>-->


                <!--</div>-->
                <!--<div class="input-field col s6">-->
                    <!--<mdp-time-picker id="end-time" ng-model="endTime"></mdp-time-picker>-->

                    <!--<label class="active" for="start-time">End Time</label>-->


                <!--</div>-->
                <div class="input-field col s12">
                    <i class="prefix fa fa-clock-o" style="font-size: 40px"></i>
                    <select  style="margin-left: 40px" class="browser-default" ng-model="eventTime">
                        <option value="" disabled selected>What hour of the day?</option>
                        <option value="0">Midnight</option>
                        <option value="1">1 AM</option>
                        <option value="2">2 AM</option>
                        <option value="3">3 AM</option>
                        <option value="4">4 AM</option>
                        <option value="5">5 AM</option>
                        <option value="6">6 AM</option>
                        <option value="7">7 AM</option>
                        <option value="8">8 AM</option>
                        <option value="9">9 AM</option>
                        <option value="10">10 AM</option>
                        <option value="11">11 AM</option>
                        <option value="12">12 PM</option>
                        <option value="13">1 PM</option>
                        <option value="14">2 PM</option>
                        <option value="15">3 PM</option>
                        <option value="16">4 PM</option>
                        <option value="17">5 PM</option>
                        <option value="18">6 PM</option>
                        <option value="19">7 PM</option>
                        <option value="20">8 PM</option>
                        <option value="21">9 PM</option>
                        <option value="22">10 PM</option>
                        <option value="23">11 PM</option>
                        <option value="24">12 AM</option>

                    </select>
                </div>

            </div>

            <div style="padding: 0" class="col s6 offset-s1 z-depth-1">
                <ui-gmap-google-map class='map' center='map.center' zoom='map.zoom'>
                    <ui-gmap-marker coords="marker.coords" idkey="0">
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>




        </div>
        <div class="row">
            <div class="input-field col s3">
                <input id="food-description" type="text" class="validate" ng-model="foodDescription">
                <label for="food-description">So what exactly are you cooking?</label>
            </div>
            <div class="input-field col s3 offset-s1 ">
                <input id="events-guests-number" type="number" class="validate" ng-model="eventsGuestsNumber">
                <label for="events-guests-number">Number of guests expected</label>
            </div>

            <!--<form action="#">-->
                <!--<p class="range-field">-->
                <!--</p>-->
            <!--</form>-->

        </div>



        <div class="center">

            <a class="waves-effect waves-light btn" style="color: white" ng-click="addEvent()"><i class="material-icons right">create</i>Create
                Foodent!</a>
        </div>
    </div>

    <!--<ul style="position: fixed;top:35%;right:50px; font-size: 120%"-->
    <!--class="section table-of-contents hide-on-medium-only">-->
    <!--<li><a ng-href="#/add-event/introduction">Basic information</a></li>-->
    <!--<li><a ng-href="#/add-event/structure">Food and Stuff</a></li>-->
    <!--<li><a ng-href="#/add-event/structure">Pictures and Tags</a></li>-->
    <!--<li><a ng-href="#/add-event/initialization">Invites</a></li>-->
    <!--</ul>-->
</div>


