<div class="container">
    <div class="create-event-container z-depth-2">

        <div class="create-event-title left-align "><p>What's cookin'?</p></div>
        <div class="create-event-subtitle left-align"><p>Creating an event (a.k.a Foodent) is easier than cooking scrambled eggs.</p>
           <br>
            <hr>
        </div>
        <div class="create-event-breadcrumbs center">
            <a>BASICS</a>
            <i style="margin-left: 10px; margin-right: 10px;" class="fa fa-angle-right" aria-hidden="true"></i>
            <a>PICTURES AND TAGS</a>
            <i style="margin-left: 10px; margin-right: 10px;"class="fa fa-angle-right" aria-hidden="true"></i>
            <a>INVITES</a>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input  id="first_name2" type="text" class="validate">
                <label  for="first_name2">What's the name of the event?</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input  googleplace id="event-address" type="text" class="validate" ng-model="chosenPlace">
                <label  for="event-address">Where is it happening?</label>
            </div>
            <div class="col s6">
                <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
            </div>
        </div>


    </div>

</div>


