<div style="margin: 0 auto" class="container">
    <div masonry style="margin: 1%; margin-left: 4%; margin-top: 40px">
        <div class="grid-sizer"></div>
        <div class="masonry-brick" ng-repeat="event in events">
            <div class="grid-item" style="width: 300px; margin: 10px">
                <div class="card hoverable" style="z-index: 99">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator"
                             src="{{event.images[0]}}">
                    <span style="background: linear-gradient(transparent,black);width: 100%"
                          class="card-title activator white-text truncate">{{event.name}}<span
                            class="right">3.2 mi</span> </span>
                    </div>
                    <div class="card-content activator">
                        <p class="center-align" style="color: darkred">{{event.time.start | date:'medium'}}.</p><br>
                        <!--<div class="chip" style="background-color: cadetblue; color: white">-->
                        <!--<img src="https://static.pexels.com/photos/6413/people-eyes-playing-young.jpg"-->
                        <!--alt="Contact Person">-->
                        <!--Jane Doe-->
                        <!--</div>-->
                        <!--<div class="chip" style="margin-top: 4px">-->
                        <!--Hot when ready-->
                        <!--</div>-->

                        <div class="chip" style="margin-top: 4px">
                            {{event.food.cuisine[0]}}
                        </div>
                        <div class="chip" style="margin-top: 4px">
                            {{event.numGuestsAllowed}} guests capacity
                        </div>

                    </div>

                    <!--<div class="card-action center"><p><a href="#"> EVENT PAGE</a></p></div>-->
                    <div class="card-reveal">
                <span class="card-title grey-text text-darken-4 flow-text">{{event.name}}<i
                        class="material-icons right">close</i></span>
                        <p><b>What</b><br>{{event.notes}}</p>
                        <p><b>Where</b><br>{{event.formatted_address}}</p>

                        <a class='btn white-text' ng-href="#/events/{{event._id}}">Go to Event Page</a>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>