<div>
    <div class="container ">
        <div class="row user-container valign-wrapper z-depth-2">
            <div class="col s3 center user-image-container valign-wrapper">
                <img class="circle responsive-img user-image valign" src="{{user.profileImage}}">
            </div>
            <div class="col s9 user-info-container valign">

                <!--Settings or Follow options-->
                <a id="edit-profile-button" ng-show="isMyself()"
                   class="btn-floating btn-small waves-effect waves-light red right"><i
                        class="material-icons">settings</i></a>
                <!--                <a class="settings right" ><i style="color: black; font-size: 2.2em" ng-show="isMyself()" class=" fa fa-cog"></i></a>-->
                <a id="followButton" class="btn right  light-green lighten-3" style="color: #0a0a0a;"
                   ng-click="followUser()" ng-if=" !isMyself() && !isFollowing()">Follow</a>
                <a id="unFollowButton" class="btn right  light-green lighten-3" style="color: #0a0a0a;"
                   ng-click="unfollowUser()" ng-show="isFollowing()">unfollow</a>

                <div class=" row left-align user-name-container">
                    <p class="user-name">
                        {{user.name}}
                    </p>
                </div>

                <div class=" row user-about-container left-align">
                    <p class="user-about">
                        {{user.about}}
                    </p>
                </div>

                <div class="row user-stats-container">
                    <div class=" col s4" style="padding: 0;">
                        <p class="user-stats-label"><span class="user-stats-figure">{{foodentCount}}</span> foodents</p>
                    </div>
                    <div class="  col s4" style="padding:0;">
                        <a ng-click="getFollowers()"><p class="user-stats-label"><span class="user-stats-figure">{{user.followers.length}} </span>followers
                        </p></a>
                    </div>
                    <div class=" col s4" style="padding: 0">
                        <a ng-click="getFollowings()"><p class="user-stats-label"><span class="user-stats-figure">{{user.following.length}}</span>
                            following</p></a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Modal Structure -->
    <div id="followers-modal" class="modal" style="width:300px">
        <div class="modal-content center">

            <div ng-repeat="follower in followers">
                <a ng-href="#/users/{{follower._id}}">
                    <div class="chip" style="background-color: cadetblue; margin: 20px; color: white">
                        <img src="{{follower.profileImage}}" alt="Contact Person">
                        {{follower.name}}

                    </div>
                </a>
                <hr>
            </div>
        </div>

    </div>

    <!-- Modal Structure -->
    <div id="following-modal" class="modal" style="width:300px">
        <div class="modal-content center">

            <div ng-repeat="follower in following">
                <a ng-href="#/users/{{follower._id}}">
                    <div class="chip" style="background-color: cadetblue; margin: 20px; color: white">
                        <img src="{{follower.profileImage}}" alt="Contact Person">
                        {{follower.name}}

                    </div>
                </a>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <!--<li class="tab col s3"><a ng-click="getAllEvents()">ALL</a></li>-->
                    <li class="tab col s3"><a ng-click="getAttendedEvents()" class="active">ATTENDED</a></li>
                    <li class="tab col s3"><a ng-click="getHostedEvents()">HOSTED</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="margin: 0 auto" class="container">
        <div masonry style="margin: 1%; margin-left: 4%; margin-top: 40px">
            <div class="grid-sizer"></div>
            <div class="masonry-brick" ng-repeat="event in events">
                <div class="grid-item" style="width: 300px; margin: 10px">
                    <div class="card hoverable" style="z-index: 99">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator"
                                 src="{{event.images[0]}}">
                    <span style="background: linear-gradient(transparent,black);width: 100%"
                          class="card-title activator white-text truncate">{{event.name}}<span
                            class="right">3.2 mi</span> </span>
                        </div>
                        <div class="card-content activator">
                            <p class="center-align" style="color: darkred">{{event.time.start | date:'medium'}}.</p><br>
                            <!--<div class="chip" style="background-color: cadetblue; color: white">-->
                            <!--<img src="https://static.pexels.com/photos/6413/people-eyes-playing-young.jpg"-->
                            <!--alt="Contact Person">-->
                            <!--Jane Doe-->
                            <!--</div>-->
                            <!--<div class="chip" style="margin-top: 4px">-->
                            <!--Hot when ready-->
                            <!--</div>-->

                            <div class="chip" style="margin-top: 4px">
                                Cuisine: {{event.food.cuisine[0]}}
                            </div>
                            <div class="chip" style="margin-top: 4px">
                                {{event.numGuestsAllowed}} guests capacity
                            </div>

                        </div>

                        <!--<div class="card-action center"><p><a href="#"> EVENT PAGE</a></p></div>-->
                        <div class="card-reveal">
                <span class="card-title grey-text text-darken-4 flow-text">{{event.name}}<i
                        class="material-icons right">close</i></span>
                            <p><b>What</b><br>{{event.notes}}</p>
                            <p><b>Where</b><br>{{event.formatted_address}}</p>

                            <a class='btn white-text' ng-href="#/events/{{event._id}}">Go to Event Page</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
<!--<div class="row">-->
<!--<div class="medium-6 medium-centered large-4 large-centered columns">-->
<!--<div class="row column">-->
<!--<h4 class="text-center">User Profile</h4>-->
<!--<label>Name: {{user.name}}-->
<!--</label>-->
<!--<label>Email: {{user.email}}-->
<!--</label>-->
<!--<label>About: {{user.about}}-->
<!--</label>-->
<!--<label>-->
<!--<img src="{{user.profileImage}}"/>-->
<!--</label>-->
<!--&lt;!&ndash;<input id="show-password" type="checkbox"><label for="show-password">Show password</label>&ndash;&gt;-->
<!--<label>-->
<!--followers: {{followers}}-->
<!--</label><br>-->
<!--<label>-->
<!--followings: {{following}}-->
<!--</label><br>-->
<!--<label>-->
<!--attended events: {{attendedEvents}}-->
<!--</label><br>-->
<!--<label>-->
<!--hosted events: {{hostedEvents}}-->
<!--</label>-->
<!--</div>-->

<!--<a class="button" ng-click="getFollowers()">Get followers</a><br>-->
<!--<a class="button" ng-click="getFollowings()">Get following</a><br><br>-->


<!--<a class="button" ng-click="getHostedEvents()">Get hosted events</a><br>-->
<!--<a class="button" ng-click="getAttendedEvents()">Get attended events</a><br>-->

<!--<a class="button" ng-click="unfollowUser()" ng-show="!isMyself() && isFollowing()">Unfollow</a><br>-->
<!--<a class="button" ng-click="followUser()" ng-show="!isMyself() && !isFollowing()">follow</a><br>-->

<!--</div>-->
<!--<a class="button" ng-click="logout()">Log out</a>-->

<!--</div>-->
