<div class="userContainer center">
    <div class="container">
        <div class="row">
            <div class="col s4 valign-wrapper">
                <img class="circle responsive-img" src="">
            </div>
            <div class="col s8">
                <div class="container left-align">
                    Anurag Choudhary
                </div>
                <div class="row">
                    <div class="col s4">
                        Babe
                    </div>
                    <div class="col s4">
                        Babe
                    </div>
                    <div class="col s4">
                        Babe
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>